.con_carousel {
  height: 400px;
  background-color: #0e9aa7;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -1px;
  color: white;

  .con_carousel_title {
    display: flex;
    margin-bottom: 2rem;
    img {
      width: 200px;
      height: 50px;
      @media screen and(max-width: 450px) {
        width: 150px;
        height: 37.5px;
      }
    }
  }
  .con_carousel_search{
    width: 600px;
    @media screen and (max-width: 450px){
      width: 300px;
    }
  }
}

.certain-category-search-dropdown .ant-select-dropdown-menu-item-group-title {
  color: #666;
  font-weight: bold;
}

.certain-category-search-dropdown .ant-select-dropdown-menu-item-group {
  border-bottom: 1px solid #f6f6f6;
}

.certain-category-search-dropdown .ant-select-dropdown-menu-item {
  padding-left: 16px;
}

.certain-category-search-dropdown .ant-select-dropdown-menu-item.show-all {
  text-align: center;
  cursor: default;
}

.certain-category-search-dropdown .ant-select-dropdown-menu {
  max-height: 300px;
}