.home_layout{
  min-height: 100vh;
  .home_layout_header{
    padding: 0;
    line-height: 3rem;
    height: auto;
    background-color: #0e9aa7;
    z-index: 99;
  }
  .home_layout_content{
    min-height: 80vh;
  }
}
.ant-layout{
  background-color: white;
}